<head>
  <!-- texto -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
 
  <!-- subtitulos -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sansita:wght@800&display=swap" rel="stylesheet">
 </head> 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  <div class="wrapper fadeInDown" id="cont-principal">
    <div id="formContent" >
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first" id="cont-A1">
        <img src="/../../../assets/TigrisImg/TIGRIS (1).png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="formularioLogin" id="cont-A2">
        <input type="text" formControlName="username"  id="login" class="fadeIn second" name="login" placeholder="username">
        <input type="text" formControlName="password"  id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Iniciar sesion" (click)="iniciarSesion()" id="cont-A3">
      </form>
    </div>
  </div>
</body>
